* {margin: 0; padding: 0;}
ul,li,ol {list-style: none;}
a {text-decoration: none;}
img {vertical-align: middle;}
body {line-height: 1; font-size: 20px;}
input {outline: 0; }
textarea {resize: none;}

#header {width: 1100px; margin: 0 auto; background-color: tan; height: 300px;}
// header 작업 전부 끝 

#container { background-color: green; color: #fff; font-weight:bold;}